services:
  api:
    build:
      context: .
      dockerfile: UserProfile/Dockerfile
    container_name: userprofile-api
    ports:
      - "8080:8080"
    env_file:
      - ./UserProfile/.env.docker
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    container_name: userprofile-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Admin4320!
      POSTGRES_DB: userprofile
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
